body {
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
    color: #4E598C;
    text-align: center;
}

form {
    max-width: 200px;
    margin: auto;
    padding: 10px;
    border: 1px solid #4E598C;
    border-radius: 5px;
    background: #FFFFFF;
}

input {
    
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid #4E598C;
    border-radius: 4px;
    width: 160px;      /* Définit la largeur de l'input */
    height: 30px;  
}

button {
    width: 90px; 
    height: 45px;  
    padding: 8px;
    margin-top: 10px; 
    background-color: #4E598C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #4E598C;
}
